.chart-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.chart-wrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid #f0f0f0;
  background-color: #ffffff;
  border-radius: 10px; /* Slight rounding of corners */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); Subtle shadow */
  transition: all 0.3s ease; /* Transition effect for hover */
}

.chart-wrapper:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly pronounced shadow on hover */
}


.chart-category {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 5px; 
    /* font-family: 'Roboto', sans-serif; */
    color: #464646;    text-align: center;
    position: relative; /* Relative positioning for the child icon */
  }

.chart-title {
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 10px;
    /* font-family: 'Roboto', sans-serif; */
    color: #464646;    text-align: center;
    position: relative; /* Relative positioning for the child icon */
  }
  
  .chart-title a {
    color: inherit;
    text-decoration: none;
  }
  
  .chart-title a:hover, .chart-title a:focus {
    text-decoration: underline; /* underline on hover/focus */
  }
  
  .chart-title a::after {
    content: "\2197"; /* Unicode for a diagonal arrow */
    font-size: smaller;
    margin-left: 5px;
    position: absolute;
  }